body{
font-family:system-ui;
padding:16px;
background:#f4f6fb;
}

h2{
text-align:center;
}

input,button{
width:100%;
padding:12px;
margin:8px 0;
font-size:16px;
}

button{
background:#243c8f;
color:white;
border:none;
}

table{
width:100%;
border-collapse:collapse;
margin-top:10px;
font-size:14px;
}

th,td{
border:1px solid #ccc;
padding:8px;
text-align:center;
}

th{
background:#243c8f;
color:white;
}
